<body>
  <div class="container">
    <div class="col-xs-8 affix nav-stacked" id="right-column">
      <img class = "logo logo_default " src="/media/dummymap.png" height="1400" width="1400">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2" id="bike-table">
      <%= link_to 'Update', full_update_path, class: 'btn btn-warning'%>
      <%= link_to 'Clear', full_clear_path, class: 'btn btn-warning'%>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Address</th>
          <th># of racks</th>
        </tr>

        <% @bike_racks.each do |bike_rack| %>
          <tr>
            <td><%= bike_rack.street_number %> <%= bike_rack.street_name %></td>
            <td><%= bike_rack.number_of_racks %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<body>