<div id="map"></div>
<div class="col-xs-4" id="bike-table-column">
    <div class="panel panel-default map-marker" id="bike-rack-info"
         data-lat="<%= @bike_rack.latitude %>"
         data-lon="<%= @bike_rack.longitude %>">
        <div class="panel-heading">
            <h1 class="panel-title">Bike Rack Information</h1>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    <%= @bike_rack.street_number %> <%= @bike_rack.street_name %>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Number of Racks</div>
                <div class="panel-body">
                    <%= @bike_rack.number_of_racks %>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Latitude/Longitude</div>
                <div class="panel-body">
                    Latitude: <%= @bike_rack.latitude %><br>
                    Longitude: <%= @bike_rack.longitude %>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Ratings</div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Safety</div>
                        <div class="panel-body">
                            Average rating: ??? (out of ???)<br>
                            Your rating: ??? (out of ???)
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Cleanliness</div>
                        <div class="panel-body">
                            Average rating: ??? (out of ???)<br>
                            Your rating: ??? (out of ???)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
