<div id="map"></div>
<div class="col-xs-4" id="bike-table-column">
    <%= render 'search_box' %>
    <div class="panel panel-primary map-marker" id="bike-rack-info"
         data-lat="<%= @bike_rack.latitude %>"
         data-lon="<%= @bike_rack.longitude %>"
         data-url="<%= bike_rack_path(@bike_rack) %>">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="javascript:history.back()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                Bike Rack Information
                <span class="pull-right glyphicon glyphicon-chevron-up clickable"></span>
            </h3>
        </div>
        <div class="panel-body">
            <div id="street-view"
                 data-lat="<%= @bike_rack.latitude %>"
                 data-lon="<%= @bike_rack.longitude %>"></div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-responsive table-condensed"
                           id="bike-rack-detailed-info">
                        <tr>
                            <td>Address</td>
                            <td><%= @bike_rack.street_number %>
                                <%= @bike_rack.street_name %></td>
                        </tr>
                        <tr>
                            <td>Number of Racks</td>
                            <td><%= @bike_rack.number_of_racks %></td>
                        </tr>
                        <tr>
                            <td>Latitude / Longitude</td>
                            <td>Latitude: <%= @bike_rack.latitude %><br>
                                Longitude: <%= @bike_rack.longitude %></td>
                        </tr>
                        <tr>
                            <td>Safety Rating</td>
                            <td><p>Average rating</p>
                            <div id="safety_star"></div>

                              <% if logged_in? %>
                                <p>Your rating</p>
                                <div id="user_safety_star"></div>
                              <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td>Cleanliness Rating</td>
                            <td><p>Average rating</p>
                            <div id="cleanliness_star"></div>

                              <% if logged_in? %>

                                <p>Your rating</p>
                                <div id="user_cleanliness_star"></div>
                              <% end %>
                            </td>
                        </tr>
                        <script>
                        $('#safety_star').raty({
                        readOnly: true,
                        score: <%= @bike_rack.avg_safety %>,
                        path: '/assets'
                        });

                        $('#cleanliness_star').raty({
                        readOnly: true,
                        score: <%= @bike_rack.avg_cleanliness %>,
                        path: '/assets'
                        });

                        </script>

                        <% if logged_in? %>
                          <script>

                          $('#user_safety_star').raty({
                            score: <%= @safetyrating.score %>,
                            path: '/assets',
                            click: function(score, evt) {
                              $.ajax({
                                url: '/safety_ratings/' + <%= @safetyrating.id %>,
                                type: 'PATCH',
                                data: { score: score }
                              });
                            }
                          });

                          $('#user_cleanliness_star').raty({
                            score: <%= @cleanlinessrating.score %>,
                            path: '/assets',
                            click: function(score, evt) {
                              $.ajax({
                                url: '/cleanliness_ratings/' + <%= @cleanlinessrating.id %>,
                                type: 'PATCH',
                                data: { score: score }
                              });
                            }
                          });
                          </script>

                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
