<div id="map"></div>
<div class="col-xs-4" id="bike-table-column">
    <%= render 'search_box' %>
    <div class="panel panel-primary map-marker" id="bike-rack-info"
         data-lat="<%= @bike_rack.latitude %>"
         data-lon="<%= @bike_rack.longitude %>">
        <div class="panel-heading">
            <h1 class="panel-title">Bike Rack Information</h1>
        </div>
        <div class="panel-body">
            <div id="street-view"
                 data-lat="<%= @bike_rack.latitude %>"
                 data-lon="<%= @bike_rack.longitude %>"></div>
            <div class="panel panel-default" id="bike-rack-inner-panel">
                <div class="panel-body" id="bike-rack-detailed-info-container">
                    <table class="table table-responsive" id="bike-rack-detailed-info">
                        <tr>
                            <td>Address</td>
                            <td><%= @bike_rack.street_number %>
                                <%= @bike_rack.street_name %></td>
                        </tr>
                        <tr>
                            <td>Number of Racks</td>
                            <td><%= @bike_rack.number_of_racks %></td>
                        </tr>
                        <tr>
                            <td>Latitude / Longitude</td>
                            <td>Latitude: <%= @bike_rack.latitude %><br>
                                Longitude: <%= @bike_rack.longitude %></td>
                        </tr>
                        <tr>
                            <td>Safety Rating</td>
                            <td>Average rating: ??? (out of ???)<br>
                                Your rating: ??? (out of ???)</td>
                        </tr>
                        <tr>
                            <td>Cleanliness Rating</td>
                            <td>Average rating: ??? (out of ???)<br>
                                Your rating: ??? (out of ???)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
