<p>Average rating</p>
<div id="<%= type %>_star"></div>

<% if logged_in? %>
  <p>Your rating</p>
  <div id="user_<%= type %>_star"></div>
<% end %>

<script>
  $('#<%= type %>_star').raty({
  readOnly: true,
  score:  <% if type == 'safety'%>
              <%= @bike_rack.avg_safety%>
          <% elsif type == 'cleanliness'%>
              <%= @bike_rack.avg_cleanliness%>
          <% end %>,
  path: '/assets'
  });
</script>

<% if logged_in? %>
  <script>

  $('#user_<%= type %>_star').raty({
    score: <%= rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url:
        <% if type == 'safety'%>
              '/safety_ratings/'
          <% elsif type == 'cleanliness'%>
              '/cleanliness_ratings/'
        <% end %>

        <% unless rating.id.blank? %>
            + <%= rating.id %>
        <% end %>,
        type: <% if rating.id.blank? %>
                "POST"
              <% else %>
                "PATCH"
              <% end %>,
        data: { score: score, bike_rack_id: <%= @bike_rack.id %>}
      });
    }
  });
  </script>
<% end %>