<div id="<%= type %>_star"></div>

<% if logged_in? %>
  <p id="your-rating-text">Your rating</p>
  <div id="user_<%= type %>_star"></div>
<% end %>

<script>
  $('#<%= type %>_star').raty({
  halfShow : true,
  readOnly: true,
  score:  <% if type == 'safety'%>
              <%= @bike_rack.avg_safety%>
          <% elsif type == 'cleanliness'%>
              <%= @bike_rack.avg_cleanliness%>
          <% end %>,
  });
</script>

<% if logged_in? %>
  <script>
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  $('#user_<%= type %>_star').raty({
    score: <%= rating.score %>,
    click: function(score, evt) {
      $.ajax({
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url:
        <% if type == 'safety'%>
          '/safety_ratings/'
        <% elsif type == 'cleanliness'%>
          '/cleanliness_ratings/'
        <% end %>

        <% unless rating.id.blank? %>
          + <%= rating.id %>
        <% end %>,
        type: <% if rating.id.blank? %>
          "POST"
        <% else %>
          "PATCH"
        <% end %>,
        data: { score: score, bike_rack_id: <%= @bike_rack.id %>}
        complete : function(jqXHR, textStatus) {location.reload();}
      });
    }
  });
  </script>
<% end %>
